.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mem {
  max-width: 100%;
  height: auto;
  margin: 0 10px;
  height: 400px;
  width: 750px;
}
