body {
  background: url(./img/leaves.webp) repeat;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  height: 35rem;
  width: 53rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem 0;

  background-color: rgb(238 245 224);
}

/* Images */
.slides {
  display: flex;
  width: 43.75rem;
  height: 25rem;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.4s linear;
}

.slide {
  width: 43.75rem;
  height: 25rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Captions */
.captions {
  display: flex;
  justify-content: flex-start;
  width: 21.875rem;
  overflow: hidden;
}

.captions-container {
  display: flex;
  transition: transform 0.4s linear;
}

.caption {
  color: rgb(82 92 62);
  border-color: black;
  width: 21.875rem;
  font-size: 1.6rem;
  font-family: serif;
  font-weight: 600;
}

/* Controls */
.controls {
  order: 4;
  display: flex;
  justify-content: flex-end;
  width: 21.875rem;
}

.point {
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.625rem;
  outline-offset: -0.75rem;
  border-radius: 50%;
  background-clip: content-box;
  background-color: rgb(82 92 62);
  outline: 0.125rem solid rgb(82 92 62);
  transition: all 0.3s linear;
}

.point:hover {
  outline-color: rgb(50 66 19);
  background-color: rgb(50 66 19);
  cursor: pointer;
}

.input_btn {
  display: none;
  visibility: hidden;
}
/* по нажатию */
.point:active {
  background-color: wheat;
}

.input_btn:checked + .point {
  background-color: transparent;
}

/* изменение слайдов */
.controls:has(#point1:checked) ~ .slides .slides-container {
  transform: translateX(0);
}
.controls:has(#point2:checked) ~ .slides .slides-container {
  transform: translateX(-43.75rem);
}
.controls:has(#point3:checked) ~ .slides .slides-container {
  transform: translateX(-87.5rem);
}
.controls:has(#point4:checked) ~ .slides .slides-container {
  transform: translateX(-131.25rem);
}

/* изменение подписей */
.controls:has(#point1:checked) ~ .captions .captions-container {
  transform: translateX(0);
}
.controls:has(#point2:checked) ~ .captions .captions-container {
  transform: translateX(-21.875rem);
}
.controls:has(#point3:checked) ~ .captions .captions-container {
  transform: translateX(-43.75rem);
}
.controls:has(#point4:checked) ~ .captions .captions-container {
  transform: translateX(-65.625rem);
}
