body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

/* IMAGES */

.slides {
  width: 45rem;
  height: 25rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.2s linear;
}

.slide {
  width: 45rem;
  height: 18rem;
  background-color: red;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#image1 {
  z-index: 1;
  background-image: url("./img/image1.jpg");
}

#image2 {
  z-index: 2;
  background-image: url("./img/image2.jpg");
}

#image3 {
  z-index: 3;
  background-image: url("./img/image3.jpg");
}

#image4 {
  z-index: 4;
  background-image: url("./img/image4.webp");
}

/* Captions */

.captions {
  display: flex;
  justify-content: flex-start;
}

.captions-container {
  display: flex;
  transition: transform 0.3s linear;
}

.caption {
  color: black;
}
/* Navigation */

.controls {
  display: flex;
  justify-content: flex-end;
}

.radio {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-clip: content-box;
  background-color: green;
  outline: 0.125rem solid green;
  outline-offset: -0.75rem;
  transition: all 0.3s linear;
}

.radio:hover {
  outline-color: white;
  background-color: white;
  cursor: pointer;
}

.radio:active {
  background-color: white;
}

input:checked + .radio {
  background-color: transparent;
}

input {
  display: none;
  visibility: hidden;
}
